html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden
}
body{
   background-color: rgb(249,249,249);
   margin : 0;
}
/* ------------------------------------ */
/* GERAL*/

.button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    background: #ff9a76;
    color: rgb(255,255,255);
    border: none;
    border-radius: 30px;
    font-weight: 600;
}

.Title {
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 10px;
    align-self: center;
    justify-content: center;
}

/* ==================================== */
/* SLIDE SHOW*/
.mySlides {
    display:none;
    margin-top: 50px;
}

/* ==================================== */
/* NAVBAR*/
#navbar{
    display: flex;
    flex-flow: row nowrap;
    margin-top : 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background: #f9f9f9;  => COR BONITA*/ 
}

 .tablink {
    font-family: Hack,monospace;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    color: #8f8f8f;
    background-color: rgb(249,249,249);
    margin-left : 50px;
    font-size: 24px;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    border: none;
  }
  
  .tablink:hover {
    color: black;
  }
  
  .tabcontent {
    color: black;
    display: none;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }
  
  
 #Rules {background-color: rgb(249, 249, 249);}
 #Play {background-color: rgb(249,249,249);}
 #Login {background-color: rgb(249, 249, 249);}
  

/* ==================================== */
/* LOGIN */

/* Classe de Login e Rules */

.active{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#logo{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

#imgLogo{
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

input[type=email], input[type=password] {
    outline: none;
    border: none;
}

::placeholder {
    color: hsl(0deg 0% 0%);
	font-size: 0.9em;
}

.field {
    background: hsl(0deg 0% 100%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    display: flex;
    flex-flow: column nowrap;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
    padding-bottom: 30px;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-left: 8%;
}

#caixaLogin{   
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    width: 18%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.icon{
    color: #ff9a76;
}


.inputPlaceHolder{
    padding-top : 2%;
}

/* ==================================== */
/* PLAY */

/*-----------------*/

#registerZone{
    display: flex;
}
/*BUTTONS PLAY OPTIONS*/
.playTitle{
    font-size: 20px;
}

/* forum */
#beforePlay{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 400px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#caixaPlay{   
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    width: 600px;
    height:350px;
    display: flex;
	flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#playContent{ 
    width: 400px;
    height:350px;
    display: flex;
    justify-content: center;
}
.playingMode{
    display: flex;
    flex-flow: row nowrap;
}

.playerModeButton{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    background-color: rgb(103,155,155,0.5);
    color: rgb(255,255,255);
    border: none;
    font-weight: 600;
}

/*-----------------*/
/*MULTI-STEP FORM PLAY OPTIONS*/

.playOptions{
    display: none;
    align-self: center;
}

#BoardOptions{
    display: block;
}

#PlayOptionsContent{
    display: flex;
    flex-flow:column;
    align-self: center;
    justify-content: center;
}

/*-----------------*/
/*WAITING FOR PLAYER*/

#waitingForPlayer{
    display: none;
}

#caixaWaitingPlayer{   
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    width: 18%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

/*-----------------*/
/* GIVE UP BUTTON*/

#playZone{
    display: none;
    flex-flow: column;
    height: 100%;
}

#giveUp{
    padding-left: 70%;
    width: 100%;
    height: 10%;
}   

/*-----------------*/
/* BOARD*/
.seed{
    width: 20px;
    height: 28px;
    border-radius: 50%;
    background-image: url(seed.webp);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    justify-content: space-between;
}

.seedspace{
    height: 100%;
    width: 100px;
    display:flex;
    flex-flow: row wrap;
}

#zonaTabuleiro{
    align-self: center;
    width:auto;
    height: 30%;
}

.lateral{
    background-color: rgb(136, 104, 61, 0.5);
    width: 100px;
    height: 80%;
    align-self: center;
    flex-flow: row;
    border-radius: 40px;
    margin:20px;
}

.quadrado {
    background-color: rgb(136, 104, 61,0.5);
    height: 100px;
    width: 100px;
    border-radius : 15px;
    align-self: center;
    display: flex;
    margin: 10px 10px 10px 10px;
}

#tabuleiro{
    align-self: center;
    display:flex;
    justify-content: space-around;
    height: 40vh;
    border-radius: 30px;
    background-image: url(wood.png);
    width: auto;
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

#sub-tabuleiro{
    align-self: center;
    justify-content: space-between;
    height: 80%;
    display:flex;
    flex-flow:column;
}

.sub-sub-tabuleiro{
    justify-content: space-around;
    display:flex;
    flex-flow: row;
}

/* ------------------------------------ */
/* RULES */

.rulesTitle {
    font-size: 30px;
    padding-bottom: 150px;
}

#activeRules{
    width: 100%;
    height: 100%;
}

.rules{
    display: none;
    align-self: center;
}

#Rule1{
    display: block;
}

#rulesContent{
    display: flex;
    align-self: center;
    justify-content: center;
    color: black;
    width: 500px;
    height: 500px;

}

#caixaRules{   
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    width: 700px;
    height: 500px;
    margin: 0 10%;

    /*por causa das setas*/
    display: flex;
    flex-flow: row;

}

.arrowDiv{
    width: 100px;
    display: flex;
    align-items: stretch;
}
.arrow-left{
    display: flex;
    align-self: center;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(-45deg);
}

.arrow-right{
    display: flex;
    align-self: center;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(135deg);
}

.ruleText{
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.bulletPoint{
    display: flex;
    flex-flow: row;
    padding-bottom: 20px;
}

.subBulletPoint{
    padding-left: 30px;
}

.seta{
    color:#ff9a76;
}

.sub-seta{
    color:rgb(103,155,155);
}

.textoCorrido{
    padding-left: 30px;
}

/* ------------------------------------ */
/* FOOTER */

footer {
    position: absolute;
    font-size: 12px;
    font-weight: bolder;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background-color: rgba(249, 249, 249, 0.8);
    color: #000000;
    text-align: center; 
    
}
::a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
}